<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>

  <appSettings>
    <!-- access these values via the property:
      System.Configuration.ConfigurationManager.AppSettings[key]
    -->
    <add key="mssql_datasource" value=".\SQLEXPRESS"/>
    <add key="mssql_database" value="july"/>
    <add key="mssql_userid" value="sa"/>
    <add key="mssql_password" value="123456789"/>
    <add key="mssql_port" value="1433"/>
    <add key="mysql_datasource" value="127.0.0.1"/>
    <add key="mysql_database" value="july"/>
    <add key="mysql_userid" value="sa"/>
    <add key="mysql_password" value="123456789"/>
    <add key="mysql_port" value="3306"/>
    <add key="postgresql_datasource" value="127.0.0.1"/>
    <add key="postgresql_database" value="july"/>
    <add key="postgresql_userid" value="postgres"/>
    <add key="postgresql_password" value="123456789"/>
    <add key="postgresql_port" value="5432"/>
    <add key="sqlite_datasource" value="databases"/>
    <add key="sqlite_database_path" value="databases"/>
    <add key="sqlite_database" value="junk_files_db"/>
    <add key="sqlite_userid" value="sa"/>
    <add key="sqlite_password" value="123456789"/>
    <add key="sqlite_port" value="0"/>
    <add key="sqlite_version" value="3"/>
    <add key="sqlite_db_extension" value="sqlite"/>
    <add key="sqlite_pooling" value="true"/>
    <add key="sqlite_fail_if_missing" value="false"/>

    <add key="LOGFILENAME" value="Logs\\log.log"/>
    <add key="ERRORLOGFILENAME" value="Logs\\error.log"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="Comm_Port" value="5"/>
    <add key="Comm_BaudRate" value="460800"/>
    <add key="Comm_TimeOut" value="5000"/>
    <!--trial period days-->
    <add key="TRIAL_PERIOD" value="370"/>
    <!--no of seconds to wait till execute long running function to collect extra info-->
    <add key="COLLECT_EXTRAS_SECONDS_COUNTA" value="-1"/>
    <!--maximum number of the message characters to send-->
    <add key="MAX_MSG_LENGTH" value="0"/>
    <!--number of characters to use in license key-->
    <add key="NO_OF_CHARACTERS_IN_LICENSE_KEY" value="32"/>
  </appSettings>

</configuration>
